* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.interactif {
    cursor: pointer;
}

.interactif:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

