.catalogue {
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  gap: 2.625rem 2rem;
  flex-wrap: wrap;
  padding: 1rem;
  flex-shrink: 2;
  margin: 1rem;
}

.produit-details {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3125rem;
}

.ajouter-panier,
.ajouter-favoris {
  display: inline-block;
  padding: var(--spacing-xs) var(--spacing-sm);
  background-color: var(--color-button-background);
  color: var(--color-background);
  text-decoration: none;
  border-radius: var(--border-radius-base);
  margin: var(--spacing-sm) var(--spacing-xs);
  cursor: pointer;
}

.produit object {
  top: 0px;
  pointer-events: none;
  width: 13rem;
  transition: all 0.2s ease-in;
  z-index: 999;
  padding: 10px;
}

.produit {
  display: flex;
  width: 30%;
  color: var(--color-primary);
  flex-shrink: 0;
  border-radius: 7px;
  border: 1px solid var(--bleu-pale, #9dcaf3);
  background: var(--fill, #f4f8fa);
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
}

.img-timbre {
  padding: 10px;
  max-width: 10.2rem;
  position: absolute;
  margin-left: 1.38rem;
  cursor: pointer;
}

.info-mise {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  font-weight: 700;
  justify-content: space-between;
}

.prix-detail {
  font-size: 15px;
}

.produit-div {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.produit-div-2 {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.id-vendeur {
  text-decoration: underline;
  font-style: italic;
  font-size: smaller;
  font-weight: lighter;
  margin-top: 5px;
}

legend {
  text-align: center;
  font-weight: var(--font-weight-bold);
  padding: var(--spacing-xs);
}

.filtres-1 button[type="submit"] {
  background-color: var(--color-button-border);
  color: var(--color-background);
  cursor: pointer;
}

.filtres-1 input[type="text"]:focus,
.filtres-1 select:focus,
.filtres-1 button:focus {
  border-color: var(--color-focus);
}

.img-timbre:hover,
.produit:hover object {
  filter: grayscale();
  cursor: pointer;
}

.barre-recherche button:hover,
.barre-filtres button:hover,
.ajouter-panier:hover,
.ajouter-favoris:hover,
.filtres-1 button[type="submit"]:hover {
  background-color: var(--color-secondary);
}

#nouveaute {
  color: #007bff;
}

#promo {
  color: rgb(239, 80, 22);
}

#sprint {
  color: #5327d0;
}

#sprint:hover {
  color: #00b267;
}

#nouveaute:hover {
  color: #00b267;
}

#promo:hover {
  color: #00b267;
}
