footer {
    display: flex;
    font-weight: 500;
    align-content: flex-end;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    width: 100vw;
    margin-top: 5rem;
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 0;
}


.footer-nav {
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;
    color: #014482;
    position: relative;
    justify-content: space-between;
    flex-grow: 2;
}

.footer-nav h3 {
    font-weight: 600;
}

.footer-nav div {
    display: flex;
    flex-direction: column;

    margin-right: 2rem;

    width: 100%;

}

.footer-nav ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-nav ul li a {
    text-decoration: none;
    font-size: 13px;
    font-style: normal;
    color: #014482;
    line-height: normal;

}


.footer-nav ul li h3 {
    cursor: text;
}






.footer-newsletter {
    display: flex;
    color: #0A6DC9;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-right: 7rem;
    margin-left: 2rem;
    flex-basis: 30%;
}

.footer-newsletter p {
    width: 29.5625rem;
    height: 2.4245rem;
    padding: 1rem;
    text-align: justify;
}

.footer-options {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 90.8125rem;
    height: 7.125rem;
    color: #014482;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: 600;
    width: 100%;
}


.footer-options ul {
    gap: 0.5rem;
    font-weight: 700;
}

.footer-options ul li a {
    color: #014482;
}


.footer-newsletter form input[type="email"i] {
    width: 24.75rem;
    padding: var(--spacing-sm);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-lg);
}


::placeholder {
    padding: 8px;
}

.footer-newsletter form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-start;
    flex-direction: column;
    margin-top: 3rem;
    padding: 1rem;
}

.footer-newsletter form input[type="submit"] {
    padding: var(--spacing-sm) var(--spacing-md);
    background-color: var(--color-button-background);
    color: var(--color-background);
    border: none;
    border-radius: 1.875rem;
    cursor: pointer;
    width: 9.1875rem;
    height: 2.36069rem;
    position: absolute;
    top: 63%;
    cursor: pointer;
}