header {
    display: flex;
    align-items: center;
    color: var(--color-background);
    text-align: center;
    position: sticky;
    z-index: 1005;
    height: 85px;
    flex-wrap: nowrap;
    gap: 2rem;
    align-content: center;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}


.header-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;

}

#advanced {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.barre-recherche {
    display: flex;
    text-align: center;
    gap: 0.5rem;
    border-radius: var(--border-radius-lg);
    flex-basis: 40%;
    flex-grow: 0;
}

.icons-account {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.barre-recherche input[type="text"] {
    width: 80%;
    padding: var(--spacing-sm);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-lg);
}

.barre-recherche button {
    padding: var(--spacing-sm) var(--spacing-md);
    background-color: var(--button-background);
    color: white;
    border: none;
    border-radius: 1.875rem;
}

.icons {
    display: flex;
    gap: 0.5rem;

}