main {
   width: 100%;
   display: flex;
   background-color: rgba(244, 248, 250, 0.5);
   flex-wrap: wrap;
   justify-content: space-evenly;
   flex-direction: row;
   max-height: max-content;
   align-items: flex-start;
   padding: var(--spacing-md);
   align-content: space-between;
   margin-bottom: 5rem;
}


aside {
   width: 100%;
   display: flex;
   flex-direction: column;
   font-size: x-large;
   font-weight: bolder;
   font-family: 'Made Tommy';
   gap: 0.5rem;
   flex-basis: 10%;
   flex-grow: 0;
   padding: 2rem;
   height: fit-content;
   margin-top: var(--spacing-xl);
}


.conteneur-flex {
   width: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
}